.navbar {
    height: 80px;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
  }
  
  /* .navbar__links {
    /* margin-left: auto; */
  

  .navbar__links__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    color: #141517;
    margin-right: 25px;
  }